@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

@keyframes textLoop {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    100% {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
}

body,
p,
summary {
    font-family: "Pretendard", sans-serif;
    margin: 0;
}

.flowWrap {
    display: flex;
    flex: 0 0 auto;
    white-space: nowrap;
    overflow: hidden;
    border-bottom: 2px solid #000;
    transition: 0.3s;
}

.flowWrap:hover {
    color: #000;
}

.flowWrap:hover .flowTxt {
    animation-play-state: paused;
}

.flowTxt {
    font-size: 5vw;
    padding: 10px 2vw;
    animation: textLoop 10s linear infinite;
}

summary {
    font-size: 1.5vw;
    border-bottom: 1px solid #000;
    cursor: pointer;
    padding: 10px;
}

.itemWrap {
    margin: 50px 5vw;
}

.topWrap {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.txtWrap {
    flex-shrink: 0;
}

.title {
    font-size: 2.2vw;
    font-weight: 700;
}

.content {
    font-size: 1.2vw;
    line-height: 1.5;
    margin-top: 8vw;
}

.imgWrap {
    display: grid;
    gap: 50px;
}

.topWrap .imgWrap {
    grid-template-columns: 1fr 1fr;
}

.bottomWrap .imgWrap {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

img {
    width: 100%;
    max-width: 365.7px;
    border-radius: 30px;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
}

.topWrap .cherryHome {
    grid-template-columns: 1fr;
}

.cherryHome img {
    max-width: none;
}

.bottomWrap {
    margin-top: 50px;
}

.bottomWrap .imgWrap {
    justify-content: right;
}

.itemWrap + .itemWrap {
    border-top: 1px solid #000;
    padding-top: 50px;
}

@media (max-width: 767px) {
    .flowTxt {
        font-size: 10vw;
    }

    summary {
        font-size: 7vw;
    }

    .itemWrap {
        width: calc(100% - 40px);
        margin: 20px;
    }

    .topWrap {
        flex-direction: column;
    }

    .title {
        font-size: 6vw;
    }

    .content {
        font-size: 4vw;
        word-break: keep-all;
        margin-top: 30px;
    }

    br {
        display: none;
    }

    .topWrap .imgWrap {
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .bottomWrap .imgWrap {
        grid-template-columns: 1fr;
        justify-items: center;
    }
}
